<ion-content>

  <body>
    <header id="top">
      <div class="homelogo">
        <a style="cursor: pointer; font-size: 4vw;" (click)="redirectionHome()">Le Touareg</a>
        <div class="nav">
          <ul class="menu">
            <li class="commandez"><a id="souligner">Commandez<span class="deroule"></span></a>
              <ul class="submenu">
                <li class="sousmenu" style="cursor: pointer;" (click)="redirectionPlats()">Plats</li>
                <li class="sousmenu" style="cursor: pointer;" (click)="redirectionGateau()">Gateaux</li>
              </ul>
            </li>
            <li class="compte" style="cursor: pointer;" (click)="redirectionMonCompte()">Mon Compte</li>
            <li class="contact" style="cursor: pointer;" (click)="redirectionContacteznous()">Contactez-nous</li>
          </ul>
        </div>
        <img class="panier" src="assets/imgs/panier.png" alt="panier" style="cursor: pointer;" (click)="redirectionPanier()" />
      </div>
      <div class="deuxiemestrate">
        <div class="menu">
          <ul class="livraison" [ngClass]="{choixSelected: choix == 'livraison'}" style="cursor: pointer;" (click)="redirectionHome('livraison')"><img
              class="icone" src="assets/imgs/livraison.png" alt="icone" />En
            Livraison</ul>
          <ul class="emporter" [ngClass]="{choixSelected: choix == 'emporter'}" style="cursor: pointer;" (click)="redirectionHome('emporter')"><img
              class="icone" src="assets/imgs/emporter.png" alt="icone" />A Emporter</ul>
          <ul class="place" [ngClass]="{choixSelected: choix == 'place'}" style="cursor: pointer;" (click)="redirectionHome('place')"><img
              class="icone" src="assets/imgs/surplace.png" alt="icone" />Sur Place</ul>
        </div>
      </div>
    </header>

    <div class="confirmercommande">Confirmer votre commande</div>
    <div class="inscription" *ngIf="!mail">Vous avez un compte? Vous pouvez suivre ce <a style="cursor: pointer;"
        (click)="redirectionMonCompte()">lien</a> pour vous connecter </div>
    <table style="width: 90vw; margin: auto;">
      <tr>
        <td class="table-elements">
          <h3>Prix total des produits</h3>
          <h4>{{ total }}</h4>
        </td>
        <td class="table-elements" *ngIf="choix == 'livraison'">
          <h3>Frais de livraison</h3>
          <h4>Livraison gratuite</h4>
        </td>
        <td class="table-elements" *ngIf="choix == 'livraison'">
          <h3>Prix total</h3>
          <h4>{{ total }}</h4>
        </td>
      </tr>
    </table>
    <div class="infolivraison">
      <div class="alivrer">Information de livraison de votre compte</div>
      <div class="enregistrement">
        <ion-list>
          <ion-item>
            <ion-input type="text" [(ngModel)]="address" placeholder="Adresse de livraison" style="color: black;"
              required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" [(ngModel)]="city" placeholder="Ville" style="color: black;" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" [(ngModel)]="zipCode" placeholder="Code postal" style="color: black;" required></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="paiement">
      <div class="alivrer">Information de paiement</div>
      <div class="checkbox">
        <ion-list radio-group (ionChange)="getPayment()" [(ngModel)]="payment" no-lines>

          <ion-item>
            <ion-label>Carte bancaire</ion-label>
            <ion-radio value="card" item-left></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Espèce</ion-label>
            <ion-radio value="cash" item-left></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Paypal</ion-label>
            <ion-radio value="paypal" item-left></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Ticket restaurant</ion-label>
            <ion-radio value="ticket_restaurant" item-left></ion-radio>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="container-validate-button">
      <button ion-button (click)="payer()" class="validate-button">{{ textValidate }}</button>
    </div>

    <footer>
      <div class="baspage">
        <div class="info width-footer">
          CATEGORIES
          <div class="littleUnderlineFooter"></div>
          <div class="liste">
            <ion-item>
              Gateaux
              <ion-badge style="cursor: pointer;" (click)="redirectionGateau()">22</ion-badge>
            </ion-item>
            <ion-item>Plats
              <ion-badge style="cursor: pointer;" (click)="redirectionPlats()">4</ion-badge>
            </ion-item>
          </div>
        </div>
        <div class="info width-footer">
          CONTACTS
          <div class="littleUnderlineFooter"></div>
          <div class="adresse">
            <ion-icon name="md-pin"></ion-icon>X rue de ?????, Code postal Ville
          </div>
          <div class="adresse">
            <ion-icon name="md-phone-portrait"></ion-icon>00 33 6 ?? ?? ?? ??
          </div>
          <div class="adresse">
            <ion-icon name="mail"></ion-icon>mail.resto@adresse.com
          </div>
        </div>
      </div>
      <div class="baspage2">
        <div class="scroll-top">
          <a href="#top">
            <ion-icon name="ios-arrow-up" style="color: white;padding-top: 1vw; font-size: 1.5vw"></ion-icon>
          </a>
        </div>
        <div class="crédits">© 2018 LE TOUAREG<small class="small">Tous droits réservés</small></div>
        <div class="reseauxsociaux">
          <div class="rs">
            <ion-icon name="logo-facebook"></ion-icon>
          </div>
          <div class="rs">
            <ion-icon name="logo-instagram"></ion-icon>
          </div>
          <div class="rs">
            <ion-icon name="logo-twitter"></ion-icon>
          </div>
        </div>
      </div>
    </footer>
  </body>
</ion-content>