<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

  <body>
    <header id="top">
      <div class="homelogo">
        <a style="cursor: pointer; font-size: 4vw;" (click)="redirectionHome()">Le Touareg</a>
        <div class="nav">
          <ul class="menu">
            <li class="commandez"><a id="souligner">Commandez<span class="deroule"></span></a>
              <ul class="submenu">
                <li class="sousmenu" style="cursor: pointer;" (click)="redirectionPlats()">Plats</li>
                <li class="sousmenu" style="cursor: pointer;" (click)="redirectionGateau()">Gateaux</li>
              </ul>
            </li>
            <li class="compte" style="cursor: pointer;" (click)="redirectionMonCompte()">Mon Compte</li>
            <li class="contact" style="cursor: pointer;" (click)="redirectionContacteznous()">Contactez-nous</li>
            <li class="contact" style="cursor: pointer;" (click)="redirectionAdmin()">Administration</li>
          </ul>
        </div>
        <img class="panier" src="assets/imgs/panier.png" alt="panier" style="cursor: pointer;" (click)="redirectionPanier()" />
      </div>
      <div class="deuxiemestrate">
        <div class="menu">
          <ul class="livraison" [ngClass]="{choixSelected: choix == 'livraison'}" style="cursor: pointer;" (click)="redirectionHome('livraison')"><img
              class="icone" src="assets/imgs/livraison.png" alt="icone" />En
            Livraison</ul>
          <ul class="emporter" [ngClass]="{choixSelected: choix == 'emporter'}" style="cursor: pointer;" (click)="redirectionHome('emporter')"><img
              class="icone" src="assets/imgs/emporter.png" alt="icone" />A Emporter</ul>
          <ul class="place" [ngClass]="{choixSelected: choix == 'place'}" style="cursor: pointer;" (click)="redirectionHome('place')"><img
              class="icone" src="assets/imgs/surplace.png" alt="icone" />Sur Place</ul>
        </div>
      </div>
    </header>

    <div class="container-table">
      <div class="command-table">
        <p class="title-table">Commandes passées</p>

        <div class="command-filter">
          <input type="text" placeholder="Filtrer par client" (input)="filter('user', $event)">
        </div>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Utilisateur</th>
              <th>Produit</th>
              <th>Quantité</th>
              <th>Prix</th>
              <th>Consommation</th>
              <th>Ville</th>
              <th>Code postal</th>
              <th>N° de commande</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let command of commands | paginate: {id: 'command', itemsPerPage: 10, currentPage: pCommand}; let i = index;">
              <td style="text-align: center;">
                <ion-item>
                  <ion-checkbox (ionChange)="insertInTable($event, command, i)"></ion-checkbox>
                </ion-item>
              </td>
              <td>{{ command.user }}</td>
              <td>{{ command.product }}</td>
              <td>{{ command.quantity }}</td>
              <td>{{ command.unityPrice }}</td>
              <td>{{ command.choice }}</td>
              <td>{{ command.city }}</td>
              <td>{{ command.zipCode }}</td>
              <td>{{ command.num_command }}</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination">
          <pagination-controls id='command' (pageChange)="pCommand = $event"></pagination-controls>
          <p>Total de commandes : <strong>{{ totalCommands }}</strong></p>
          <button ion-button *ngIf="storePhones.length > 0" (click)="sendSMS()">Envoyer</button>
        </div>
      </div>

      <div class="payment-table">
        <p class="title-table">Paiement des commandes passées</p>

        <div class="payment-filter">
          <select interface="popover" placeholder="Filtrer par méthode de paiement / date de commande" [(ngModel)]="category"
            (change)="filter('payment', inputPayment)">
            <option value="none" selected>-------------------</option>
            <option value="paymentMethod">Méthode de paiement</option>
            <option value="date">Date de commande</option>
          </select>

          <input type="text" placeholder="Filtrer par client" [(ngModel)]="inputPayment" (input)="filter('payment', $event)">
        </div>
        <table>
          <thead>
            <tr>
              <th>Utilisateur</th>
              <th>Prix total</th>
              <th>Méthode de paiement</th>
              <th>Date</th>
              <th>N° de commande</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payment of payments | paginate: { id: 'payment', itemsPerPage: 10, currentPage: p }">
              <td>{{ payment.user }}</td>
              <td>{{ payment.totalPrice }}</td>
              <td>{{ payment.paymentMethod }}</td>
              <td>{{ payment.date }}</td>
              <td>{{ payment.num_command }}</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination">
          <pagination-controls id="payment" (pageChange)="p = $event"></pagination-controls>
          <p>Total de paiements : <strong>{{ totalPayments }}</strong></p>
        </div>
      </div>

      <div class="stat-table">
        <p class="title-table">Statistique des commandes</p>

        <div class="stats-filter">
          <select interface="popover" [(ngModel)]="categoryStats">
            <option value="mensuel">Mensuel</option>
            <option value="hebdomadaire">Hebdomadaire (date +7 jours)</option>
            <option value="journalier">Journalier</option>
          </select>

          <div class="display-filters">
              <select interface="popover" [(ngModel)]="month" *ngIf="categoryStats == 'mensuel'">
                  <option value="january">Janvier</option>
                  <option value="february">Février</option>
                  <option value="march">Mars</option>
                  <option value="april">Avril</option>
                  <option value="may">Mai</option>
                  <option value="june">Juin</option>
                  <option value="july">Juillet</option>
                  <option value="august">Août</option>
                  <option value="september">Septembre</option>
                  <option value="october">Octobre</option>
                  <option value="november">Novembre</option>
                  <option value="december">Décembre</option>
                </select>
      
                <ion-item *ngIf="categoryStats != 'mensuel'">
                  <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="date" placeholder="{{date}}"></ion-datetime>
                </ion-item>

                <button ion-button (click)="searchStats()">Raffraichir les statistiques</button>
          </div>
        </div>

        <canvas #lineCanvas></canvas>
      </div>
    </div>

    <footer>
      <div class="baspage">
        <div class="info width-footer">
          CATEGORIES
          <div class="littleUnderlineFooter"></div>
          <div class="liste">
            <ion-item>
              Gateaux
              <ion-badge style="cursor: pointer;" (click)="redirectionGateau()">22</ion-badge>
            </ion-item>
            <ion-item>Plats
              <ion-badge style="cursor: pointer;" (click)="redirectionPlats()">4</ion-badge>
            </ion-item>
          </div>
        </div>
        <div class="info width-footer">
          CONTACTS
          <div class="littleUnderlineFooter"></div>
          <div class="adresse">
            <ion-icon name="md-pin"></ion-icon>X rue de ?????, Code postal Ville
          </div>
          <div class="adresse">
            <ion-icon name="md-phone-portrait"></ion-icon>00 33 6 ?? ?? ?? ??
          </div>
          <div class="adresse">
            <ion-icon name="mail"></ion-icon>mail.resto@adresse.com
          </div>
        </div>
      </div>
      <div class="baspage2">
        <div class="scroll-top">
          <a href="#top">
            <ion-icon name="ios-arrow-up" style="color: white;padding-top: 1vw; font-size: 1.5vw"></ion-icon>
          </a>
        </div>
        <div class="crédits">© 2018 LE TOUAREG<small class="small">Tous droits réservés</small></div>
        <div class="reseauxsociaux">
          <div class="rs">
            <ion-icon name="logo-facebook"></ion-icon>
          </div>
          <div class="rs">
            <ion-icon name="logo-instagram"></ion-icon>
          </div>
          <div class="rs">
            <ion-icon name="logo-twitter"></ion-icon>
          </div>
        </div>
      </div>
    </footer>
  </body>
</ion-content>